
body {
	background-color: lightgreen;
	margin: 100px 500px 500px 500px;
}

h1 {
	font-size: 64px;
}
h1,h2, h3, h4, h5, h6 {
	color: orange;
	text-decoration: underline;
}
p {
	color: yellow;
	font: italic bold 12px/30px arial, serif;
}
#copied {
	color: black;
	font: italic 12px/30px arial, serif;
}
.Fifa{
	color: red
}
ol {
	color: yellow
}
ul {
	color: yellow
}
a {
	color:#cc0000; 
	text-decoration: none;
}